/* HEADER */

.hr {
    color: white;
    background-color: white;
}

.container-fluid {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: auto;
    margin-left: auto;
}

header {
    position: sticky;
    padding: 75px;
    z-index: 1000;
    background-color: white;
}

footer {
    background-color: white;
    position: sticky;
    z-index: 1000;
    height: 250px;
}

.header__img {
    height: 128px;
    width: 128px;
}

#header_podval {
    position: absolute;
    height: 128px;
    width: 128px;
    top: 0px;
}

#eclipse {
    color:#FF2E65;
    height: 4px;
    width: 4px;
    position: absolute;
    right: 864px;
    top: 8px;
    font-size: 41px;
}

#eclipse2 {
    color:#FF2E65;
    height: 4px;
    width: 4px;
    position: absolute;
    right: 666px;
    top: 9px;
    font-size: 41px;
}

#yandex_logo {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 971px;
    top: 52px;
}

#zvezda_logo {
    height: 14px;
    width: 14px;
    position: absolute;
    right: 827px;
    top: 54px;
}

/* MODAL */



/* SLIDER */

.slider {
    display: flex;
    width: 100%; /* Ширина слайдера занимает всю доступную ширину */
    height: auto; /* Высоту можно задать по вашему усмотрению */
    overflow: hidden;
  }
  
.slide {
    flex: 1;
    opacity: 0.5;
    margin-right: 20px;
}
  
.slide img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Изображение будет масштабироваться, заполняя весь слайд без искажений */
}
  
.slide.active {
    opacity: 1;
}
  
.slide:first-child {
    margin-left: -25%; /* Сдвигаем первый слайд на 30% влево */
}
  
.slide:last-child {
    margin-right: -25%; /* Сдвигаем последний слайд на 30% вправо */
}

/* CONTENT */

#block1 {
    width:0px;
    height:5804px;
    background-color: #fff;
    margin: 0 auto;
    position: sticky;
}

.full-width-block {
    background-color: purple;
    width: 100%; /* ширина блока равна ширине окна браузера */
    height: 100px; /* высота блока */
}

/* BLOCK HEADERS */

#new {
    position: absolute;
    top: 50px;
    right: 534px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

#zag_pizza {
    position: absolute;
    top: 275px;
    right: 538px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color:#4E0476;
    font-size: 32px;
}

#zag_salade {
    position: absolute;
    top: 2247px;
    right: 522px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color:#4E0476;
    font-size: 32px;
}

#zag_combo {
    position: absolute;
    top: 3258px;
    right: 538px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color:#4E0476;
    font-size: 32px;
}

#zag_desert {
    position: absolute;
    top: 4742px;
    right: 497px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color:#4E0476;
    font-size: 32px;
}

#zag_napitki {
    position: absolute;
    top: 5280px;
    right: 501px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color:#4E0476;
    font-size: 32px;
}


/* RECTANGLES */

.rectangle {
    width: 270px;
    height: 90px;
    background-color: white;
    box-shadow: 0.5px 0.5px 2px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.rectangle:hover {
    width: 270px;
    height: 90px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 7px;
    border-color: white;
}

.rectangle1 {
    width: 270px;
    height: 450px;
    background-color: white;
    border-color: white;
    border-radius: 0px;
}

.rectangle1:hover {
    width: 270px;
    height: 450px;
    background-color: white;
    border-radius: 0px;
    border-color: white;
}

#r1 {
    position: absolute;
    right: 378px;
    top: 112px;
}

#r2 {
    position: absolute;
    right: 78px;
    top: 112px;
}

#r3 {
    position: absolute;
    left: -48px;
    top: 112px;
}

#r4 {
    position: absolute;
    left: 253px;
    top: 112px;
}

#rn1 {
    position: absolute;
    right: 378px;
    top: 340px;
}

#rn2 {
    position: absolute;
    right: 36px;
    top: 340px;
}

#rn3 {
    position: absolute;
    left: 36px;
    top: 340px;
}

#rn4 {
    position: absolute;
    left: 378px;
    top: 340px;
}

#rn5 {
    position: absolute;
    right: 378px;
    top: 813px;
}

#rn6 {
    position: absolute;
    right: 36px;
    top: 813px;
}

#rn7 {
    position: absolute;
    left: 36px;
    top: 813px;
}

#rn8 {
    position: absolute;
    left: 378px;
    top: 813px;
}

#rn9 {
    position: absolute;
    right: 378px;
    top: 1286px;
}

#rn10 {
    position: absolute;
    right: 36px;
    top: 1286px;
}

#rn11 {
    position: absolute;
    left: 36px;
    top: 1286px;
}

#rn12 {
    position: absolute;
    left: 378px;
    top: 1286px;
}

#rn13 {
    position: absolute;
    right: 378px;
    top: 1759px;
}

#rn14 {
    position: absolute;
    right: 36px;
    top: 1759px;
}

#rn15 {
    position: absolute;
    left: 36px;
    top: 1759px;
}

#rn16 {
    position: absolute;
    left: 378px;
    top: 1759px;
}

#rn17 {
    position: absolute;
    right: 378px;
    top: 2297px;
}

#rn18 {
    position: absolute;
    right: 36px;
    top: 2297px;
}

#rn19 {
    position: absolute;
    left: 36px;
    top: 2297px;
}

#rn20 {
    position: absolute;
    left: 378px;
    top: 2297px;
}

#rn21 {
    position: absolute;
    right: 378px;
    top: 2770px;
}

#rn22 {
    position: absolute;
    right: 36px;
    top: 2770px;
}

#rn23 {
    position: absolute;
    left: 36px;
    top: 2770px;
}

#rn24 {
    position: absolute;
    left: 378px;
    top: 2770px;
}

#rn25 {
    position: absolute;
    right: 378px;
    top: 3308px;
}

#rn26 {
    position: absolute;
    right: 36px;
    top: 3308px;
}

#rn27 {
    position: absolute;
    left: 36px;
    top: 3308px;
}

#rn28 {
    position: absolute;
    left: 378px;
    top: 3308px;
}

#rn29 {
    position: absolute;
    right: 378px;
    top: 3781px;
}

#rn30 {
    position: absolute;
    right: 36px;
    top: 3781px;
}

#rn31 {
    position: absolute;
    left: 36px;
    top: 3781px;
}

#rn32 {
    position: absolute;
    left: 378px;
    top: 3781px;
}

#rn33 {
    position: absolute;
    right: 378px;
    top: 4254px;
}

#rn34 {
    position: absolute;
    right: 36px;
    top: 4254px;
}

#rn35 {
    position: absolute;
    right: 378px;
    top: 4792px;
}

#rn36 {
    position: absolute;
    right: 36px;
    top: 4792px;
}

#rn37 {
    position: absolute;
    left: 36px;
    top: 4792px;
}

#rn38 {
    position: absolute;
    left: 378px;
    top: 4792px;
}

#rn39 {
    position: absolute;
    right: 378px;
    top: 5330px;
}

#rn40 {
    position: absolute;
    right: 36px;
    top: 5330px;
}

#rn41 {
    position: absolute;
    left: 36px;
    top: 5330px;
}

#rn42 {
    position: absolute;
    left: 378px;
    top: 5330px;
}

/* INTERNAL TEXT IN RECTANGLES AND IMAGES */

#pizza_rect {
    position: absolute;
    left: 100px;
    bottom: 40px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

#pizzapng {
    position: absolute;
    left: 10px;
    top: 10px;
}

#pizza_cost {
    position: absolute;
    color: #4E0476;
    left: 100px;
    bottom: 15px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

#pizza1png {
    position: absolute;
    left: 10px;
    bottom: 200px;
}

#pizza_name {
    position: absolute;
    left: 5px;
    bottom: 145px;
    color: #797979;
    font-weight: bolder;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

#pizza_des {
    position: absolute;
    left: 5px;
    bottom: 60px;
    color: #797979;
    font-size: 13px;
    font-weight: 10px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    line-height: 20px;
}

#pizza_cost1 {
    position: absolute;
    left: 5px;
    bottom: 16px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}

#to_cart {
    position: absolute;
    left: 135px;
    bottom: 20px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    background-color: #4E0476;
    border: #4E0476;
}

#to_cart:hover {
    position: absolute;
    left: 135px;
    bottom: 20px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    background-color: white;
    color: black;
}

#pizza_cost2 {
    position: absolute;
    left: 5px;
    bottom: 16px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}

/* PURPLE */

.section {
    width: 100%;
    height: 500px;
    background-color: #D5BFFF;
}

#text3 {
    position: absolute;
    color: #4E0476;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 26px;
    left: 615px;
    top: 35px;
}

#header_vibral {
    height: 128px;
    width: 256px;
    position: absolute;
    left: 225px;
    top: 100px;
}

#header_zakazal {
    height: 128px;
    width: 256px;
    position: absolute;
    left: 476px;
    top: 100px;
}

#header_oplatil {
    height: 128px;
    width: 256px;
    position: absolute;
    left: 728px;
    top: 100px;
}

#header_dostavil {
    height: 128px;
    width: 256px;
    position: absolute;
    left: 980px;
    top: 100px;
}

/* HEADER 2 */

#numbers {
    color: black;
    position: absolute;
    right: 830px;
    top: 43px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#dostavka {
    color: black;
    position: absolute;
    right: 829px;
    top: 18px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#moscow {
    color: #4E0476;
    position: absolute;
    right: 750px;
    top: 18px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;

}

#yandex {
    color: black;
    position: absolute;
    right: 867px;
    top: 42px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#time {
    color: black;
    position: absolute;
    right: 669px;
    top: 43px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#time_two {
    color: black;
    position: absolute;
    right: 614px;
    top: 43px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#number {
    color: #4E0476;
    position: absolute;
    right: 50px;
    top: 22px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}

#login {
    position: absolute;
    right: 190px;
    top: 89px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    min-width: 100px;
}

#cart {
    position: absolute;
    right: 56px;
    top: 90px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    min-width: 100px;
}

#bump {
    background-color: #F3F3F7;
    color: #696F7A;
    position: absolute;
    right: 276px;
    top: 31px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    border-radius: 25px;
    font-size: 15px;
}

#pizza {
    color: #6B6B6B;
    position: absolute;
    right: 916px;
    top: 88px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#salade {
    color: #6B6B6B;
    position: absolute;
    right: 835px;
    top: 88px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#napitki {
    color: #6B6B6B;
    position: absolute;
    right: 574px;
    top: 88px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#desert {
    color: #6B6B6B;
    position: absolute;
    right: 666px;
    top: 88px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#actions {
    color: #6B6B6B;
    position: absolute;
    right: 498px;
    top: 88px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#combo {
    color: #6B6B6B;
    position: absolute;
    right: 762px;
    top: 88px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#contacts {
    color: #6B6B6B;
    position: absolute;
    right: 398px;
    top: 88px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

#salade:hover {
    color: black;
}

#napitki:hover {
    color: black;
}

#desert:hover {
    color: black;
}

#actions:hover {
    color: black;
}

#combo:hover {
    color: black;
}

#contacts:hover {
    color: black;
}

#cart {
    background-color: #4E0476;
    border: #4E0476;
    min-width: 100px;
}

#cart:hover {
    background-color: white;
    color: black;
    min-width: 100px;
}

/* PODVAL */

#karol {
    position: absolute;
    left: 22px;
    top: 150px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

#prava {
    position: absolute;
    top: 240px;
    left: 24px;
}

#pravovinf {
    position: absolute;
    top: 150px;
    left: 297px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

#voprosi {
    position: absolute;
    top: 28px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    left: 725px;
}

#rnl1 {
    border-color: #E3ECF5;
    position: absolute;
    top: 88px;
    left: 725px;
    height: 42px;
    width: 101px;
}

#rnl2 {
    border-color: #E3ECF5;
    position: absolute;
    top: 88px;
    left: 844px;
    height: 42px;
    width: 101px;
}

#rnl3 {
    border-color: #E3ECF5;
    position: absolute;
    top: 88px;
    left: 963px;
    height: 42px;
    width: 101px;
}

#rnl4 {
    border-color: #E3ECF5;
    position: absolute;
    top: 88px;
    left: 1082px;
    height: 42px;
    width: 101px;
}

#rnl5 {
    border-color: #E3ECF5;
    position: absolute;
    top: 148px;
    left: 725px;
    height: 42px;
    width: 101px;
}

#rnl6 {
    border-color: #E3ECF5;
    position: absolute;
    top: 148px;
    left: 844px;
    height: 42px;
    width: 339px;
}

#number_podval {
    color: #4E0476;
    position: absolute;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    top: 205px;
    left: 725px;
}

#DZEN {
    height: 15px;
    width: 75px;
}

#VK {
    height: 30px;
    width: 30px;
}

#TG {
    height: 30px;
    width: 30px;
}

#OK {
    height: 30px;
    width: 30px;
}

#VC {
    height: 30px;
    width: 30px;
}

#napisat {
    position: absolute;
    top: 9px;
    left: 112px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

#block52 {
    width: 1500px;
    height: 500px;
    margin: 0 auto;
    position: sticky;
}