.slider {
    display: flex;
    width: 100%; /* Ширина слайдера занимает всю доступную ширину */
    height: auto; /* Высоту можно задать по вашему усмотрению */
    overflow: hidden;
  }
  
  .slide {
    flex: 1;
    opacity: 0.5;
    margin-right: 20px;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Изображение будет масштабироваться, заполняя весь слайд без искажений */
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide:first-child {
    margin-left: -25%; /* Сдвигаем первый слайд на 30% влево */
  }
  
  .slide:last-child {
    margin-right: -25%; /* Сдвигаем последний слайд на 30% вправо */
  }