<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7bb7d1cf-d99b-466c-b516-579a37e76f0d&lang=ru_RU" type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link
    rel="stylesheet"
    type="text/css"
    href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
      <div class="container">
        <header id="myHeader" class="header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom-0">
            <div class="col-md-3 mb-2 mb-md-0">
              <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img id="full_avatar" class="header__img" src="{{ url_for('static', filename='img/avatar_full.png') }}" alt="avatar_full">
                <img id="zvezda_logo" class="header__img" src="{{ url_for('static', filename='img/zvezda.png') }}" alt="zvezda">
                <img id="yandex_logo" class="header__img" src="{{ url_for('static', filename='img/yandex.png') }}" alt="yandex">
            </div>
      
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a id="numbers" class="nav-link px-3">4.9</a></li>
              <li><a id="eclipse2" class="nav-link px-3">.</a></li>
              <li><a id="eclipse" class="nav-link px-3">.</a></li>
              <li><a id="dostavka" class="nav-link px-3">Доставка пиццы</a></li>
              <li><a id="moscow" class="nav-link px-3">Москва</a></li>
              <li><a id="yandex" class="nav-link px-3">Яндекс Еда</a></li>
              <li><a id="time" class="nav-link px-3">Время доставки</a></li>
              <li><a id="time_two" class="nav-link px-3">от 5 ч</a></li>
              <li><a id="number" class="nav-link px-3">8 535 555-35-35</a></li>
              <li><a id="pizza" href="http://127.0.0.1:5000/#zag_pizza" class="nav-link px-3 link-secondary">Пицца</a></li>
              <li><a id="salade" href="http://127.0.0.1:5000/#zag_salade" class="nav-link px-3">Салаты</a></li>
              <li><a id="combo" href="http://127.0.0.1:5000/#zag_combo" class="nav-link px-3">Комбо</a></li>
              <li><a id="napitki" href="http://127.0.0.1:5000/#zag_napitki" class="nav-link px-3">Напитки</a></li>
              <li><a id="desert" href="http://127.0.0.1:5000/#zag_desert" class="nav-link px-3">Десерты</a></li>
              <li><a id="actions" href="{{ url_for('actions') }}" class="nav-link px-3">Акции</a></li>
              <li><a id="contacts" href="{{ url_for('contacts') }}" class="nav-link px-3">Контакты</a></li>
              <li><a id="login" href="{{ url_for('login') }}" class="btn btn-light">Войти</a></li>
            </ul>
      
            <div class="col-md-3 text-end">
                <a href="/cart">
                    <button id="cart" type="button" class="btn btn-primary"> Корзина | {{ session['total_quantity'] }} </button>
                </a>
            </div>
        </header>
      </div>
        {% block content %}{% endblock %}
      <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top-0">
          <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
              <img id="header_podval" class="header__img" src="{{ url_for('static', filename='img/avatar_full.png') }}" alt="avatar_full">
            </a>
            <p id="prava" class="text-body-secondary">Права на дизайн защищены ЧВВ © 2024</p>
            <p id="karol" class="col mb-3">Калорийность и состав</p>
            <p id="pravovinf" class="col mb-3">Правовая информация</p>
            <p id="voprosi" class="col mb-3">ОСТАЛИСЬ ВОПРОСЫ? А МЫ ВСЕГДА НА СВЯЗИ:</p>
            <div id="rnl1" type="bytton" class="btn btn-light">
              <img id="VK" class="header__img" src="{{ url_for('static', filename='img/VK.png') }}" alt="VK">
            </div>
            <div id="rnl2" type="bytton" class="btn btn-light">
              <img id="TG" class="header__img" src="{{ url_for('static', filename='img/TG.png') }}" alt="TG">
            </div>
            <div id="rnl3" type="bytton" class="btn btn-light">
              <img id="DZEN" class="header__img" src="{{ url_for('static', filename='img/DZEN.png') }}" alt="DZEN">
            </div>
            <div id="rnl4" type="bytton" class="btn btn-light">
              <img id="OK" class="header__img" src="{{ url_for('static', filename='img/OK.png') }}" alt="OK">
            </div>
            <div id="rnl5" type="bytton" class="btn btn-light">
              <img id="VC" class="header__img" src="{{ url_for('static', filename='img/VC.png') }}" alt="VC">
            </div>
            <div id="rnl6" type="bytton" class="btn btn-light">
              <p id="napisat" class="col mb-3">Написать нам</p>
            </div>
            <p id="number_podval" class="col mb-3">8 535 555-35-35</p>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>