{% extends 'base.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<body>
    <div class="container-fluid">
        <div class="section1">
            <div id="block52" class="block">
                <h1 id="text4">Мои бонусы</h1>
                <div id="lk_rect1" class="rectangle_lk">
                    <img id="bonus_sale" class="sale_img" src="{{ url_for('static', filename='img/bonus_sale.png') }}" alt="bonus_sale">
                    <div id="lk_rect_bonus" class="rectangle_bonus">
                        <h2 id="bonus_name" class="text">Бонусы появятся здесь после заказа</h2>
                    </div>
                </div>
                <ul>
                    <li><a id="all_actions" href="http://127.0.0.1:5000/actions" class="nav-link px-3">Все акции</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="block_lk" class="block">
        <h2 id="my_data" class="text">Личные данные</h2>
        <form method="POST">
            <h2 id="name_lk" class="text">Имя</h2>
            <div id="block_name">
                <div class="wrapper">
                    <div class="input_name">
                        <input type="text" id="name_form_lk" name="name_form_lk" value="{{user.username}}" 
                        pattern="[А-Яа-яЁё]+"
                        title="Используйте только буквы кириллицы" required disabled>
                        <button id="edit_name_button_lk">Изменить</button>
                    </div>
                </div>
            </div>
        </form>
        <form method="POST">
            <h2 id="phone_lk" class="text">Номер телефона</h2>
            <div id="block_phone">
                <div class="wrapper">
                    <div class="input_name">
                        <input type="text" id="name_form_ph" value="{{user.phone}}" disabled required>
                    </div>
                </div>
            </div>
        </form>
        <form method="POST">
            <h2 id="date_lk" class="text">Дата рождения</h2>
            <div id="block_date">
                <div class="wrapper">
                    <div class="input_name">
                        <input type="date" id="date_form_lk" name="date_form_lk" min="1900-01-01" max="2024-01-01" value="{{user.birthDate}}" disabled required>
                        <button id="edit_date_button_lk">Изменить</button>
                    </div>
                </div>
            </div>
        </form>
        <h2 id="actual_card">Актуальный способ оплаты</h2>
        <form method="POST">
            <div id="block_card">
                <div class="wrapper">
                    <div class="input_name">
                        <input type="text" id="card_form_lk" name="card_form_lk" placeholder="0000 0000 0000 0000" value="{{ masked_card_number }}"
                        pattern="d{4} d{4} d{4} d{4}" title="Номер карты должен состоять из 16 цифр и быть разделён пробелами" required disabled>
                        <button id="edit_card_button_lk">Изменить</button>
                    </div>
                </div>
            </div>
            <div id="block_card_date">
                <div class="wrapper_card_date">
                    <div class="input_name">
                        <input type="text" id="card_date_form_lk" name="card_date_form_lk" placeholder="мм/гг" value="{{ masked_card_date }}"
                        pattern="(0[1-9]|1[0-2])/d{2}" title="Дата должна быть в формате мм/гг" required disabled>
                    </div>
                </div>
            </div>
            <div id="block_card_cvc">
                <div class="wrapper_card_date">
                    <div class="input_name">
                        <input type="text" id="card_cvc_form_lk" name="card_cvc_form_lk" placeholder="CVC" value="{{ masked_card_cvc }}"
                        pattern="d{3}" title="CVC код должен состоять из 3 цифр" required disabled>
                    </div>
                </div>
            </div>
        </form>
        <li><a id="history" href="{{ url_for('user', id=user.id) }}/history" class="nav-link px-3">Посмотреть историю заказов</a></li>
        <span id="info_sub" class="clue" data-clue="Согласие на СМС-расслыку от ООО Пицца от Пашки">
            i
        </span>
        <button id="edit_password_button_lk">Изменить</button>
        <form method="POST">
            <h2 id="password_lk" class="text">Изменение пароля</h2>
            <div id="password_forms">
                <div id="block_password_lk">
                    <div class="wrapper">
                        <div class="input_name">
                            <input type="password" id="password_change_lk" name="password_change_lk" placeholder="Введите старый пароль" disabled required>
                        </div>
                    </div>
                </div>
                <div id="block_password_lk_1">
                    <div class="wrapper">
                        <div class="input_name">
                            <input type="password" id="password_change_lk_1" name="password_change_lk_1" placeholder="Введите новый пароль" disabled required>
                        </div>
                    </div>
                </div>
                <div id="block_password_lk_2">
                    <div class="wrapper">
                        <div class="input_name">
                            <input type="password" id="password_change_lk_2" name="password_change_lk_2" placeholder="Подтвердите пароль" disabled required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <h2 id="subscribe" class="text">Подписки</h2>
        <div>
            <label>
                <input id="sub_check" type="checkbox">
                <span></span>
                <h2 id="sub_text">Сообщать о бонусах, акциях и новых продуктах</h2>
            </label>
        </div>
        <a href="{{ url_for('logout') }}">
            <button id="log_out" type="button" class="btn btn-light">Выйти</button>
        </a>
        <button id="last_order_b" type="button" class="btn btn-light">Последний заказ</button>
    </div>
    <script src="{{ url_for('static', filename='js/cabinet.js') }}"></script>
</body>

{% endblock %}