<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7bb7d1cf-d99b-466c-b516-579a37e76f0d&lang=ru_RU" type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link
    rel="stylesheet"
    type="text/css"
    href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Корзина</title>
</head>
<body>
    <div class="container">
        <header id="header_cart" class="header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between" style="height: 90px;">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/">
                    <img id="logo_cart" src="{{ url_for('static', filename='img/avatar_full.png') }}" alt="logo_cart">
                </a>
                <img id="info_cart" src="{{ url_for('static', filename='img/info_cart.png') }}" alt="info_cart">
            </div>
        </header>
    </div>
    
    <div id="client_order_container" class="container" style="height: 110px;">
        <h1 id="text_cart1" class="cart_text">Корзина</h1>
        <div id="client_order" class="client_order_cart">
            <div id="cart_item_nothing1" class="cart_item_nothing">
            </div>  
            <div id="cart_item1" class="cart_item">
                <a href="/remove_from_order/1">
                    <img id="delete_from_cart1" class="delete_from_cart" src="{{ url_for('static', filename='img/Close.png') }}" alt="Close">
                </a>
                <img id="order_item_cart1" class="order_item_cart" src="{{ url_for('static', filename='img/pizza_for_pop1.png') }}" alt="something">
                <h3 id="order_item_zag1" class="order_item_zag">Пицца с креветками</h3>
                <h4 id="order_item_desc1" class="order_item_desc">Тут будет описание</h4>
                <h4 id="order_item_price1" class="order_item_price">450 ₽</h4>
                <h4 id="order_item_amount1" class="order_item_amount">1</h4>
                <a href="/add_to_order/1">
                    <button id="order_item_plus1" class="order_item_plus">&plus;</button>
                </a>
                <a href="/decrease_quantity/1">
                    <button id="order_item_minus1" class="order_item_minus">&minus;</button>
                </a>
            </div>
            <div id="cart_item2" class="cart_item">
                <a href="/remove_from_order/11">
                    <img id="delete_from_cart2" class="delete_from_cart" src="{{ url_for('static', filename='img/Close.png') }}" alt="Close">
                </a>
                <img id="order_item_cart2" class="order_item_cart" src="{{ url_for('static', filename='img/pizza_for_pop2.png') }}" alt="something">
                <h3 id="order_item_zag2" class="order_item_zag">Карбонара</h3>
                <h4 id="order_item_desc2" class="order_item_desc">Тут будет описание</h4>
                <h4 id="order_item_price2" class="order_item_price">320 ₽</h4>
                <h4 id="order_item_amount2" class="order_item_amount">1</h4>
                <a href="/add_to_order/11">
                    <button id="order_item_plus2" class="order_item_plus">&plus;</button>
                </a>
                <button id="order_item_minus2" class="order_item_minus">&minus;</button>
            </div>
            <div id="cart_item3" class="cart_item">
                <a href="/remove_from_order/2">
                    <img id="delete_from_cart3" class="delete_from_cart" src="{{ url_for('static', filename='img/Close.png') }}" alt="Close">
                </a>
                <img id="order_item_cart3" class="order_item_cart" src="{{ url_for('static', filename='img/salad_full.png') }}" alt="something">
                <h3 id="order_item_zag3" class="order_item_zag">Цезарь с курицей</h3>
                <h4 id="order_item_desc3" class="order_item_desc">Тут будет описание</h4>
                <h4 id="order_item_price3" class="order_item_price">230 ₽</h4>
                <h4 id="order_item_amount3" class="order_item_amount">1</h4>
                <a href="/add_to_order/2">
                    <button id="order_item_plus3" class="order_item_plus">&plus;</button>
                </a>
                <button id="order_item_minus3" class="order_item_minus">&minus;</button>
            </div>
            <div id="cart_item4" class="cart_item">
                <a href="/remove_from_order/4">
                    <img id="delete_from_cart4" class="delete_from_cart" src="{{ url_for('static', filename='img/Close.png') }}" alt="Close">
                </a>
                <img id="order_item_cart4" class="order_item_cart" src="{{ url_for('static', filename='img/pizzaC.png') }}" alt="something">
                <h3 id="order_item_zag4" class="order_item_zag">Комбо 1+1</h3>
                <h4 id="order_item_desc4" class="order_item_desc">Тут будет описание</h4>
                <h4 id="order_item_price4" class="order_item_price">600 ₽</h4>
                <h4 id="order_item_amount4" class="order_item_amount">1</h4>
                <a href="/add_to_order/4">
                    <button id="order_item_plus4" class="order_item_plus">&plus;</button>
                </a>
                <button id="order_item_minus4" class="order_item_minus">&minus;</button>
            </div>
            <div id="cart_item5" class="cart_item">
                <a href="/remove_from_order/10">
                    <img id="delete_from_cart5" class="delete_from_cart" src="{{ url_for('static', filename='img/Close.png') }}" alt="Close">
                </a>
                <img id="order_item_cart5" class="order_item_cart" src="{{ url_for('static', filename='img/ice-cream_full.png') }}" alt="something">
                <h3 id="order_item_zag5" class="order_item_zag">Сорбет</h3>
                <h4 id="order_item_desc5" class="order_item_desc">Тут будет описание</h4>
                <h4 id="order_item_price5" class="order_item_price">249 ₽</h4>
                <h4 id="order_item_amount5" class="order_item_amount">1</h4>
                <a href="/add_to_order/10">
                    <button id="order_item_plus5" class="order_item_plus">&plus;</button>
                </a>
                <button id="order_item_minus5" class="order_item_minus">&minus;</button>
            </div>
            <div id="cart_item6" class="cart_item">
                <a href="/remove_from_order/5">
                    <img id="delete_from_cart6" class="delete_from_cart" src="{{ url_for('static', filename='img/Close.png') }}" alt="Close">
                </a>
                <img id="order_item_cart6" class="order_item_cart" src="{{ url_for('static', filename='img/napitki.png') }}" alt="something">
                <h3 id="order_item_zag6" class="order_item_zag">Добрый Cola</h3>
                <h4 id="order_item_desc6" class="order_item_desc">Тут будет описание</h4>
                <h4 id="order_item_price6" class="order_item_price">120 ₽</h4>
                <h4 id="order_item_amount6" class="order_item_amount">1</h4>
                <a href="/add_to_order/5">
                    <button id="order_item_plus6" class="order_item_plus">&plus;</button>
                </a>
                <button id="order_item_minus6" class="order_item_minus">&minus;</button>
            </div>
            <div id="cart_item7" class="cart_item">
                <img id="delete_from_cart7" class="delete_from_cart" src="{{ url_for('static', filename='img/Close.png') }}" alt="Close">
                <img id="order_item_cart7" class="order_item_cart" src="{{ url_for('static', filename='img/stolovie_pribory.png') }}" alt="something">
                <h3 id="order_item_zag7" class="order_item_zag">Рекомендация</h3>
                <h4 id="order_item_desc7" class="order_item_desc">Тут будет описание</h4>
                <h4 id="order_item_price7" class="order_item_price">40 ₽</h4>
                <h4 id="order_item_amount7" class="order_item_amount">1</h4>
                <button id="order_item_plus7" class="order_item_plus">&plus;</button>
                <button id="order_item_minus7" class="order_item_minus">&minus;</button>
            </div>
            <div id="cart_item8" class="cart_item">
                <img id="delete_from_cart8" class="delete_from_cart" src="{{ url_for('static', filename='img/Close.png') }}" alt="Close">
                <img id="order_item_cart8" class="order_item_cart" src="{{ url_for('static', filename='img/sauce1.png') }}" alt="something">
                <h3 id="order_item_zag8" class="order_item_zag">Соус</h3>
                <h4 id="order_item_desc8" class="order_item_desc">Тут будет описание</h4>
                <h4 id="order_item_price8" class="order_item_price">30 ₽</h4>
                <h4 id="order_item_amount8" class="order_item_amount">1</h4>
                <button id="order_item_plus8" class="order_item_plus">&plus;</button>
                <button id="order_item_minus8" class="order_item_minus">&minus;</button>
            </div>
        </div>
    </div>   

    <div class="container">
        <div id="block_cart" class="block">
            <h2 id="text_cart2" class="cart_text">Добавить к заказу?</h2>
            <h2 id="text_cart3" class="cart_text">Соусы к бортикам и закускам</h2>
            <h2 id="text_cart4" class="cart_text">Промокод</h2>
            <input class="promo_input" type="text" placeholder="Введите промокод">
            <button id="apply_btn1" type="button" class="apply_btn">Применить</button>
            <a href="{{ url_for('placing', id=session['id']) }}">
                <button id="apply_btn2" type="button" class="apply_btn">Оформить заказ ></button>
            </a>
            <a href="/">
                <button id="back_btn1" type="button" class="back_btn"> < Вернуться в магазин</button>
            </a>
            <!-- Слайдер -->
            <div class="slider_cart">
                <img id="slide1" class="rec_add_cart" src="{{ url_for('static', filename='img/recommend1.png') }}" alt="Slide 1">
                <img id="slide2" class="rec_add_cart" src="{{ url_for('static', filename='img/recommend2.png') }}" alt="Slide 2">
                <img id="slide3" class="rec_add_cart" src="{{ url_for('static', filename='img/recommend3.png') }}" alt="Slide 3">
                <img id="slide4" class="rec_add_cart" src="{{ url_for('static', filename='img/recommend4.png') }}" alt="Slide 4">
                <img id="slide5" class="rec_add_cart" src="{{ url_for('static', filename='img/recommend5.png') }}" alt="Slide 5">
                <img id="slide6" class="rec_add_cart" src="{{ url_for('static', filename='img/recommend6.png') }}" alt="Slide 6">
            </div>
            <img id="l_btn" class="slide_btn" src="{{ url_for('static', filename='img/l_btn.png') }}" alt="l_btn">
            <img id="r_btn" class="slide_btn" src="{{ url_for('static', filename='img/r_btn.png') }}" alt="r_btn">
            <!-- Конец слайдера -->
            <h3 id="text_cart5" class="cart_text">Сумма заказа:</h3>
            <h3 id="text_total_cost_cart1" class="text_total_cost_cart">0 ₽</h3>
            <div id="image_btn_cart1" class="image_btn_cart">
                <img src="{{ url_for('static', filename='img/sauce1.png') }}" alt="sauce1_img">
                <h4 id="pizza_desc_img_cart1" class="text_desc_img_cart">Cоус</h4>
                <h4 id="pizza_cost_img_cart1" class="text_cost_img_cart">30 ₽</h4>
            </div>
            <div id="image_btn_cart2" class="image_btn_cart">
                <img src="{{ url_for('static', filename='img/sauce1.png') }}" alt="sauce2_img">
                <h4 id="pizza_desc_img_cart2" class="text_desc_img_cart">Cоус</h4>
                <h4 id="pizza_cost_img_cart2" class="text_cost_img_cart">30 ₽</h4>
            </div>
            <div id="image_btn_cart3" class="image_btn_cart">
                <img src="{{ url_for('static', filename='img/sauce1.png') }}" alt="sauce3_img">
                <h4 id="pizza_desc_img_cart3" class="text_desc_img_cart">Cоус</h4>
                <h4 id="pizza_cost_img_cart3" class="text_cost_img_cart">30 ₽</h4>
            </div>
            <div id="image_btn_cart4" class="image_btn_cart">
                <img src="{{ url_for('static', filename='img/sauce1.png') }}" alt="sauce4_img">
                <h4 id="pizza_desc_img_cart4" class="text_desc_img_cart">Cоус</h4>
                <h4 id="pizza_cost_img_cart4" class="text_cost_img_cart">30 ₽</h4>
            </div>
            <div id="image_btn_cart5" class="image_btn_cart">
                <img src="{{ url_for('static', filename='img/sauce1.png') }}" alt="sauce5_img">
                <h4 id="pizza_desc_img_cart5" class="text_desc_img_cart">Cоус</h4>
                <h4 id="pizza_cost_img_cart5" class="text_cost_img_cart">30 ₽</h4>
            </div>
            <div id="image_btn_cart6" class="image_btn_cart">
                <img src="{{ url_for('static', filename='img/sauce1.png') }}" alt="sauce1_img">
                <h4 id="pizza_desc_img_cart6" class="text_desc_img_cart">Cоус</h4>
                <h4 id="pizza_cost_img_cart6" class="text_cost_img_cart">30 ₽</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top-0">
          <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
              <img id="header_podval" class="header__img" src="{{ url_for('static', filename='img/avatar_full.png') }}" alt="avatar_full">
            </a>
            <p id="prava" class="text-body-secondary">Права на дизайн защищены ЧВВ © 2024</p>
            <p id="karol" class="col mb-3">Калорийность и состав</p>
            <p id="pravovinf" class="col mb-3">Правовая информация</p>
            <p id="voprosi" class="col mb-3">ОСТАЛИСЬ ВОПРОСЫ? А МЫ ВСЕГДА НА СВЯЗИ:</p>
            <div id="rnl1" type="bytton" class="btn btn-light">
              <img id="VK" class="header__img" src="{{ url_for('static', filename='img/VK.png') }}" alt="VK">
            </div>
            <div id="rnl2" type="bytton" class="btn btn-light">
              <img id="TG" class="header__img" src="{{ url_for('static', filename='img/TG.png') }}" alt="TG">
            </div>
            <div id="rnl3" type="bytton" class="btn btn-light">
              <img id="DZEN" class="header__img" src="{{ url_for('static', filename='img/DZEN.png') }}" alt="DZEN">
            </div>
            <div id="rnl4" type="bytton" class="btn btn-light">
              <img id="OK" class="header__img" src="{{ url_for('static', filename='img/OK.png') }}" alt="OK">
            </div>
            <div id="rnl5" type="bytton" class="btn btn-light">
              <img id="VC" class="header__img" src="{{ url_for('static', filename='img/VC.png') }}" alt="VC">
            </div>
            <div id="rnl6" type="bytton" class="btn btn-light">
              <p id="napisat" class="col mb-3">Написать нам</p>
            </div>
            <p id="number_podval" class="col mb-3">8 535 555-35-35</p>
          </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
</body>
</html>