<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <div id="order_details_block_container">
            <a href="{{url_for('get_orders', id=session['id'])}}">
                <button id="back_order_details_btn" type="button"> < Вернуться в историю заказов</button>
            </a>
            <div id="order_details_block">
                <h1 id="order_details_number">Заказ №{{ order.id }}</h1>
                <h2 id="order_details_text0"  class="order_history_text">Позиции:</h2>
                <table>
                    <thead>
                        <tr>
                            <th id="order_details_text1"  class="order_history_text">Название</th>
                            <th id="order_details_text2"  class="order_history_text">Количество</th>
                            <th id="order_details_text3"  class="order_history_text">Цена товара</th>
                            <th id="order_details_text4"  class="order_history_text">Стоимость</th>
                            <th id="order_details_text5"  class="order_history_text">Состав</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_list %}
                            <tr>
                                <td id="order_details_text6"  class="order_history_text">{{ item.name }}</td>
                                <td id="order_details_text7"  class="order_history_text">{{ item.quantity }}</td>
                                <td id="order_details_text8"  class="order_history_text">{{ item.price }}</td>
                                <td id="order_details_text9"  class="order_history_text">{{ item.price * item.quantity }}</td>
                                <td id="order_details_text10"  class="order_history_text">{{ item.ingredients }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 id="order_details_text11"  class="order_history_text">Общая стоимость: {{ order.total_price }} руб.</h3>
                <h3 id="order_details_text15"  class="order_history_text">Адрес: {{ order.address }}</h3>
                <h3 id="order_details_text12"  class="order_history_text">Время создания: {{ order.created_at }}</h3>
                <h3 id="order_details_text13"  class="order_history_text">Статус заказа: {{ order.status }}</h3>
                <h3 id="order_details_text14"  class="order_history_text">Время доставки: {{ order.deliveryTime }}</h3>
            </div>  
        </div>      
    </div>    
</body>
</html>