<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body>
    <h1>Заказ №{{ order.id }}</h1>
    <h2>Позиции:</h2>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена товара</th>
                <th>Стоимость</th>
                <th>Состав</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.price * item.quantity }}</td>
                    <td>{{ item.ingredients }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Общая стоимость: {{ order.total_price }} руб.</h3>
    <h3>Время создания: {{ order.created_at }}</h3>
    <h3>Статус заказа: {{ order.status }}</h3>
    <h3>Время доставки: {{ order.deliveryTime }}</h3>
</body>
</html>