<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История заказов</title>
</head>
<body>
    <h1>История заказов</h1>
    {% for order in orders_list %}
        <h2>Заказ №{{ order.id }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.order %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price * item.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Общая стоимость: {{ order.total_price }} руб.</h3>
        <h3>Время: {{ order.time }}</h3>
        <h3>Статус заказа: {{ order.status }}</h3>
    {% endfor %}
</body>
</html>
